apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-deployment
spec:
  replicas: 5
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      name: django
      labels:
        app: django
    spec:
      containers:
      - name: django-container
        image: babugudageri/django-ecom:latest
        ports:
        - containerPort: 8000
